body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

li {
  list-style: none;
}

.menu__list {
  display: flex;
  column-gap: 10px;
}

.product__card {
  display: flex;
  column-gap: 10px;
}